<div class="container">
  <div class="col-10">
    <p>I’m an experienced and skilled professional looking to continue my career with a leading enterprise.
      Educated to degree level with sixteen years work experience, I have excellent security analysis skills and a good level of developer knowledge.
      I have developed impeccable time management, an analytical and methodical approach to solving problems and the ability to perform in fast-paced and high-pressure environments.
      I am able to relocate and willing to learn.</p>
    <p>My interests include using computers and the Internet. I enjoy scripting and problem solving activities. I frequently play an MMO, participating in group activities that require coordination and communication.</p>

  </div>
</div>
