<div class="container">
  <div class="row">
    <div class="col-10">
  <form id="contactForm" data-toggle="validator" class="shake">
    <h3>Contact</h3>
    <fieldset>
      <input class="form-control" placeholder="Your Name" id="name" type="text" tabindex="1" required autofocus>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset>
      <input class="form-control" placeholder="Your Email Address" id="email" type="email" tabindex="2" required>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset>
      <input class="form-control" placeholder="Your Phone Number" id="phone" type="tel" tabindex="3" required>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset>
      <textarea class="form-control" placeholder="Type your Message Here...." id="message" tabindex="5" required></textarea>
      <div class="help-block with-errors"></div>
    </fieldset>
    <fieldset>
      <input name="submit" type="submit" id="submit" value="submit">
      <div id="msgSubmit" class="h3 text-center hidden"></div>
      <div class="clearfix"></div>
    </fieldset>
  </form>
</div>
</div>
</div>
